
<h2>Реализация</h2>
<app-now-weather></app-now-weather>

<div>
  <h3>К данному ТЗ добавил:</h3>
  <mat-list>
    <mat-list-item role="listitem">Добавил роутинг, теперь у нас 2 страницы: главная, погода</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Добавил информирующий текст при обновлении данных</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Реализовал 2 варинта подачи информции. 1 - мой вариант, 2 - по требованию ТЗ (Angular Materil)</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Добавил еще 1 параметр - температура. Как же так, погода и без температуры.</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Облачность (‘clouds’);</mat-list-item>
  </mat-list>

</div>
