<div>
  <h1>Тестовое задание</h1>
  <p>Реализовать компонент который будет получать данные о погоде из API http://openweathermap.org/api, и отображать их в произвольном виде (на Ваше усмотрение).</p>
<div>
  <h3>Обязательные данные для вывода:</h3>
    <mat-list>
      <mat-list-item role="listitem">Название города;</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Иконка (загрузка иконки из http://openweathermap.org);</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Описание погоды (‘description’);</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Краткое описание погоды (‘main’);</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Облачность (‘clouds’);</mat-list-item>
    </mat-list>
</div>
  <div>
    <h3>Требования:</h3>
    <mat-list>
      <mat-list-item role="listitem">Получать данные о погоде на текущий момент, город Киев;</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Данные должны обновляться каждые 20 секунд и также по нажатию кнопки;</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Организовать проект с помощью Angular CLI;</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Использовать Angular Material;</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Структурировать код для возможность расширения и удобства переиспользования.</mat-list-item>
    </mat-list>
  </div>
<div>
  <h2>Исполнитель:</h2>
  <p><b>Павел Дикий</b> <a href="tel:+380936532772">0936532772</a>;  <a href="mailto:yourproekt@gmail.com">yourproekt@gmail.com</a>
  </p>
</div>
</div>
