<div class="row">
  <div class="col"><h1>Тестовое задание</h1>
    <hr>
    <h2>Цель - Реализовать SPA, приложение “БЛОГ”:</h2>
    <ul class="list-group">
      <li class="list-group-item">Стена с постами (json-файл);</li>
      <li class="list-group-item">Возможность добавить комментарий ;</li>
      <li class="list-group-item">Админка с регистрацию (локально c валидацией);</li>
      <li class="list-group-item">Добавлять/удалять/редактировать  запись в админке;</li>
    </ul>
    <hr>
    <h2>Исполнитель:</h2>
    <p><b>Павел Дикий</b> <a href="tel:+380936532772">0936532772</a>;  <a href="mailto:yourproekt@gmail.com">yourproekt@gmail.com</a>
    </p>
  </div>
</div>
